.card-inner{
  margin-left: 4rem;
}

.container-home {
  position: relative;
}

footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* padding-top: 12px; */
  height: 56px;
}



small {
  white-space: normal;
}

.scrollhor {
  overflow: auto;
  white-space: nowrap;
}

.card-body-home {
  height: 170px;
}

.card {
  display: inline-table ;
}

label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");
  position: absolute;
  z-index: 100;
}
:checked+label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
}
input[type=checkbox] {
  display: none;
}

#diets {
  text-align: center;
}

img.diets {
  width: 120px;
  margin: 25px 90px 25px 0px;

}

body, header {
  background-color: steelblue;
}


/*label {*/
/*  margin: 10px;*/
/*  width: 150px;*/
/*  height: 150px;*/
/*}*/


