{% extends 'base.html' %}

{% block content %}


    <h1>S'inscrire</h1>
    <form method="POST"  action="{% url 'signup' %}">
        {% csrf_token %}
        Nom d'utilisateur: <br>
        <input type="text" name="username" /> <br>
    Mot de passe: <br>
        <input type="password" name="password1" /> <br>
        Confirmer mot de passe: <br>
        <input type="password" name="password2" />
        <br><br>
        Si vous avez un compte, cliquez <a href="{% url 'login' %}">ici</a>
        <br><br>
        <input type="submit" class="btn btn-success" value="S'inscrire !" name="submit">
    </form>
    {% if error %}
            <p style="color: red">{{ error }}</p>
            <br>
    {% endif %}

{% endblock %}

