<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Cookix</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'logo.png' %}" height=60 class="d-inline-block align-top" />
<!--      <img src="" height=60 class="d-inline-block alighn-top" />-->

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{% url 'home' %}">Accueil</a>
        <a class="nav-item nav-link" href="{% url 'jobs' %}">Nos offres</a>
        <a class="nav-item nav-link" href="{% url 'show_CVs' %}">CVs</a>
        <a class="nav-item nav-link" href="{% url 'drop_CV' %}">Déposez votre CV</a>
        <a class="nav-item nav-link" href="{% url 'hiring' %}">Recruter</a>
        <a class="nav-item nav-link" href="{% url 'contact' %}">Nous contacter</a>
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'favorites' %}"><span class="oi oi-heart"></span>Favoris</a>
          <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}" onclick="">Se déconnecter <b>({{ request.user.username }})</b></a>
          <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden" />
          </form>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Se connecter</a>
              <a class="nav-item nav-link" href="{% url 'signup' %}">S'inscrire</a>
          {% endif %}
        </div>
      </div>
      </div>
    </nav>
  </header>


  <div class="container">

    {% block content %}
    {% endblock %}

  </div>



<footer class="bg-dark text-center text-white mt-6 pt-6">

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © {% now "Y" %} Copyright: CRH (Cabinet Recrutement Hotelier)
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
