{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h3>{{ job.title }}</h3>



    <div class="row mt6">
        <div class="col-6">
            <img src="{% static 'hotel_staff.jpg' %}" class="img-fluid" />
        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><span class="oi oi-home"></span> {{ job.company }}</th>
                    <th><span class="oi oi-location"></span> {{ job.location }}</th>
                </tr>
                </thead>
            </table>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><span class="oi oi-euro"></span> {{ job.salary }} D.A</th>
                    <th><span class="oi oi-wrench"></span> {{ job.get_category_display }}</th>
                    <th><span class="oi oi-target"></span> {{ job.get_contract_type_display }}</th>
                </tr>
                </thead>
            </table>

            <button type="button" class="btn btn-success" style="width: inherit;">
                <a href="javascript:{document.getElementById('add_like').submit()}" style="color: white;"><span class="badge rounded-pill bg-success"><span class="oi oi-thumb-up"></span>Like ({{ likes_count }})</span></a>
            </button>
            <br><br>
            {% if not already_exists %}
            <button type="button" class="btn btn-warning" style="width: inherit;">
                <a href="javascript:{document.getElementById('apply').submit()}" style="color: white;"><span class="badge rounded-pill bg-warning"> Postuler</span></a>
            </button>
            {% else %}
            <button type="button" class="btn btn-secondary" style="width: inherit;" disabled>
                <a style="color: white;"><span class="badge rounded-pill bg-secondary"> Vous avez déja postulé à cette offre !</span></a>
            </button>
            {% endif %}
            <br><br>
            <h3>Description du poste:</h3>
            <p> {{ job.description }} </p>
            <br>

        </div>
    </div>





    <hr width="80%">










    <form id="add_like" method="POST" action="{% url 'add_like' job.id %}">
      {% csrf_token%}
      <input type="hidden">
    </form>

    <form id="apply" method="POST" action="{% url 'apply' job.id %}">
      {% csrf_token%}
      <input type="hidden">
    </form>



{% endblock %}